<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Linking stylesheets-->
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>


    <!--Linking scriptd-->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js" defer></script>

    <title>Document</title>
</head>
<body>
    <ion-app>
        <ion-header>
            <ion-toolbar>
                <ion-title>Helllo</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-card>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-column>
                                <button class="calc-button">9</button>
                            </ion-column>
                            <ion-column>
                                <button class="calc-button">8</button>
                            </ion-column>
                            <ion-column>
                                <button class="calc-button">7</button>
                            </ion-column>
                        </ion-row>
                        <ion-row>
                            <ion-column>
                                <button class="calc-buton">6</button>
                            </ion-column>
                            <ion-column>
                                <button class="calc-button">5</button>
                            </ion-column>
                            <ion-column>
                                <button class="calc-button">4</button>
                            </ion-column>
                        </ion-row>
                        <ion-row>
                            <ion-column>
                                <button class="calc-button">3</button>
                            </ion-column>
                            <ion-column>
                                <button class="calc-button">2</button>
                            </ion-column>
                            <ion-column>
                                <button class="calc-button">1</button>
                            </ion-column>
                        </ion-row>
                    </ion-grid>

                </ion-card-content>
            </ion-card>
        </ion-content>
    </ion-app>


   
</body>
</html>